<div class="logo">
    <img src="./../../assets/Banner.png">
    <div class="btn-group" style="width: 100%; padding-left: 10%; padding-right: 10%;">
        <button (click)="componentSelect('Home')" style="width: 25%">Home Page</button>
        <button (click)="componentSelect('Info')" style="width: 25%;">Info</button>
        <button (click)="componentSelect(Logout)" style="width: 25%;">Logout</button>
    </div>
    
    <div style="width: 60%; margin-left: 15%;" [ngSwitch]="selectedComponent">
        <ng-template [ngSwitchCase]="'Home'"><app-home></app-home></ng-template>
        <ng-template [ngSwitchCase]="'Info'"><app-info></app-info></ng-template>
        <ng-template ngSwitchDefault><app-home></app-home></ng-template>
    </div>
</div>