.center-div {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 40%;
    left: 0;
    width: 200px;
    height: 200px;
}

.btn-100width {
    width: 100%;
}

.loginbg {
    background-color: black;
}

html {
    background-color: $bg-white;
}